<section ng-controller="AdminController">

    <h3>Initialize demo data</h3>
    <div class="indent">
        <button id='initializeDemo' ng-click="initializeDemo()" class="btn btn-primary">Initialize</button>
    </div>

    <h3>Documentation</h3>
    <div class="indent">
        <a href="swagger.html">API documentation</a>
    </div>
    
    <h3>Delete All Jobs</h3>
    <div class="indent">
       <button id='deleteAllJobs' ng-click="deleteAllJobs()" class="btn btn-primary">Delete</button>
    </div>
</section>